# Django credentials
DEBUG=True
SECRET_KEY="ztbql+sd5+ajy8^%s!x2_p*6(=0l(8*flhwi&8*=6ddq7vob12"

# Mailtrap credentials 
SMTP_HOST=''
SMTP_PORT=
SMTP_USER=''
SMTP_PASSWORD=''

# Payment Gateway (Offline) - SSL COMMERZ credentials 
STORE_ID=''
STORE_PASSWORD=''
STORE_NAME=''