<!DOCTYPE html>
<html>
  <body>
    <p>Hello {{ values.doctor_name }},</p>

    <p>Your doctor account has been created by the hospital admin.</p>

    <p><b>Login details</b></p>
    <ul>
      <li><b>Username:</b> {{ values.username }}</li>
      <li><b>Password:</b> {{ values.password }}</li>
    </ul>

    <p><b>Hospital appointed:</b> {{ values.hospital }}</p>

    <p>Please log in and change your password after your first login.</p>

    <p>Thanks,<br/>HealthStack Admin</p>
  </body>
</html>
